<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-4 mt-10 text-left">
        <span class="pl-20">
          <a class="btn btn-round pr-10 btn-gold">2/5</a>
        </span>
      </div>
    </div>
    <div class="form-election">
      <form #ngform2="ngForm">
        <div class="logo">
          <img src="assets/agora.png" class="form-logo">
        </div>
        <mat-form-field>
          <input [(ngModel)]="form2.startDate" matInput  type="text" [min]="getToday()" [max]="getMaxStart()" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" name="start_date"
            placeholder="Start Date" required>
          <owl-date-time #dt1></owl-date-time>
        </mat-form-field>
        <mat-form-field>
          <input [(ngModel)]="form2.endDate" matInput type="text" [min]="getMinEnd()" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" name="end_date" placeholder="End Date"
            required>
          <owl-date-time [startAt]="getEndStart()" #dt2></owl-date-time>
        </mat-form-field>
      </form>
    </div>
    <div class="row pb-20">
      <div class="col text-right">
        <span class="pr-20">
          <button class="btn btn-round btn-gold" (click)="previous()">Previous</button>
        </span>
        <span class="pr-20 text-right">
          <button class="btn btn-round btn-gold" (click)="next()">Next</button>
        </span>
      </div>
    </div>
  </div>
</div>